extends layout
block content
      h1 @murahari venkatreddy
      .row
      h2 My background is in technology and computer science.  Although I have spent the last few years on the management side of things.  I specialize in building and operating large-scale web applications/sites.
      .row
      h3 Recently my focus has been with SaaS (software as a service) applications and cloud computing.Overseeing cloud-based SaaS architecture, and platform to enable small companies (brokers) to navigate the complex process of researching, buying and managing insurance policies directly.
