extends layout
block content
      h1 @murahari venkatreddy
      .row
      h3 My background is in technology and computer science.  I lead engineering efforts to build technology products by focusing on users first, finding out what they want, and delivering iterative improvements to make their life better and better. Currently my focus has been with SaaS products and cloud computing.
      .row
