extends ../layout

block content
   row
      h1 my thoughts on tech, leadership & books
      .row
      h4 I write about Product Management and Engineering and on the books I read.
      .row
      h4 The best way to stay up to date is to subscribe to  #[a(href='https://medium.com/vmurahari') my publication]  on Medium
